MONGODB_URI
PORT
JWT_SECRET
JWT_ACCESS_TOKEN_EXPIRED
MAIL_USER
MAIL_PASSWORD
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL
NODE_ENV
JWT_ACCESS_EXPIRE
JWT_REFRESH_EXPIRE
# 15 phút = 15 * 60 * 1000 = 900000
COOKIE_ACCESS_MAX_AGE
# 7 ngày = 7 * 24 * 60 * 60 * 1000 = 604800000
COOKIE_REFRESH_MAX_AGE

GEMINI_API_KEY

CLOUD_NAME
CLOUD_KEY
CLOUD_SECRET
# github
GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET
GITHUB_CALLBACK_URL

FRONTEND_URL